<%- include("../partials/head.ejs")  %>
<div class="row text-center">
    <p>(NAVMENU)</p>
</div>
<div class="row">
    <div class="col text-center">
        <h1>Log New Location</h1>
    </div>
</div>
<div class="row">
    <div class="col-1 justify-center"></div>
    <div class="col">
        <form action="/locations/" method="post">
            <div class="row">
                <div class="col text-end"><p>Name of Location:</p></div>
                <div class="col"><input type="text" name="locationName" placeholder="Hogwarts, Ministry, Etc" class="fullWidth"></div>
            </div>
            <div class="row">
                <div class="col text-end"><p>Continent:</p></div>
                <div class="col" class=""><p><%= chosenContinent %></p></div>
                <input type="hidden" name="continent" value="<%= chosenContinent %>">
            </div>
            <div class="row">
                <div class="col text-end"><p>Location:</p></div>
                <div class="col"><input type="text" name="location" placeholder="City/Region" class="fullWidth"></div>
            </div>
            <div class="row">
                <div class="col text-end"><p>Category:</p></div>
                <div class="col"><input type="text" name="category" placeholder="School, Landmark, Etc"  class="fullWidth"></div>
            </div>

            <div class="row">
                <div class="col text-end"><p>Image URL:</p></div>
                <div class="col"><input type="text" name="imageURL" placeholder="Image URL" class="fullWidth"></div>
            </div>

            <div class="row">
                <div class="col text-center"><p>Description:</p></div>
            </div>
            <div class="row">
                <div class="col text-center">
                    <textarea id="txtid" name="description" rows="4" cols="50" class="fullWidth"></textarea>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col text-center">
                    <input type="submit" value="Log New Location" class="btn slytherin fw-bold largeImageDisplay p-3">
                </div>
                <div class="col text-center">
                    <button class="btn gryffindor fw-bold largeImageDisplay p-3" type="button" onclick="window.location.href='/locations?region=<%= chosenContinent%>'">Cancel</button>
                </div>
            </div>
            
        </form>
    </div>
    <div class="col-1"></div>
    
</div>