<%- include("../partials/head.ejs")  %>
<div class="text-center">
    <h1>ERROR</h1>
    <%console.log(error)%>
    <p><%= error.message %></p>
    <button class="btn mt-3 blackBackground" onclick="window.location.href='/creatures'"><h1>BACK TO HOME</h1></button>
</div>