<%- include("../partials/head.ejs")  %>
<h1 class="text-center landingTitle">Harry Potter Wiki</h1>
<div class="verticallyAlign text-center">
    
    <div class="text-center"><img src="https://freepngimg.com/download/harry_potter/67567-and-deathly-hallows-dumbledore-potter-granger-hermione.png" alt="Image of the deathly hallows with wings, skeleton and wand of power" class="landingImage">
    </div>
    <button class="btn mt-3 blackBackground" onclick="window.location.href='/landings'"><h3>I Solemnly Swear That I Am Up to No Good</h3></button>
</div>
   