<%- include("../partials/head.ejs")  %>

<div class="container text-center">
    <div class="row">
        <div class="col text-center">
            <h1>Continent Selection</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4 row d-flex mt-3">
            <h2>Africa</h2>
            <a href="/landings/submenu?region=Africa"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/86/Africa_%28orthographic_projection%29.svg/640px-Africa_%28orthographic_projection%29.svg.png" alt="Globe image with Africa centered. Africa has been highlighted green" class="indexImage border border-4 rounded-circle"></a>
        </div>
        <div class="col-lg-4 row d-flex mt-3">
            <h2>Asia</h2>
            <a href="/landings/submenu?region=Asia"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/80/Asia_%28orthographic_projection%29.svg/1200px-Asia_%28orthographic_projection%29.svg.png" alt="Globe image with Asia centered. Asia has been highlighted green" class="indexImage border border-4 rounded-circle"></a>
        </div>
        <div class="col-lg-4 row d-flex mt-3">
            <h2>Australia</h2>
            <a href="/landings/submenu?region=Australia"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/da/Australia_with_AAT_%28orthographic_projection%29.svg/600px-Australia_with_AAT_%28orthographic_projection%29.svg.png" alt="Globe image with Australia centered. Australia has been highlighted green" class="indexImage border border-4 rounded-circle"></a>
        </div>
    </div>

    
    <div class="row">
        <div class="col-lg-4 row mt-5">
            <h2>North America</h2>
            <a href="/landings/submenu?region=NorthAmerica"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/43/Location_North_America.svg/1200px-Location_North_America.svg.png" alt="Globe image with North America centered. North America has been highlighted green" class="indexImage border border-4 rounded-circle"></a>
        </div>
        <div class="col-lg-4 row mt-5">
            <h2>South America</h2>
            <a href="/landings/submenu?region=SouthAmerica"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/0f/South_America_%28orthographic_projection%29.svg/1200px-South_America_%28orthographic_projection%29.svg.png" alt="Globe image with South America centered. South America has been highlighted green" class="indexImage border border-4 rounded-circle"></a>
        </div>
        <div class="col-lg-4 row mt-5">
            <h2>Europe</h2>
            <a href="/landings/submenu?region=Europe"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/44/Europe_orthographic_Caucasus_Urals_boundary_%28with_borders%29.svg/1200px-Europe_orthographic_Caucasus_Urals_boundary_%28with_borders%29.svg.png" alt="Globe image with Europe centered. Europe has been highlighted green" class="indexImage border border-4 rounded-circle"></a>
        </div>
    </div>
</div>