<%- include("../partials/head.ejs")  %>

<div class="container text-center">
    <h1>Continent Selection</h1>
    <div class="row">
        <div class="col-lg-4 row d-flex justify-content-between mt-3">
            <h2>Creatures</h2>
            <a href="/creatures?region=<%= currentQuery.region %>&category=creatures"><img src="https://i.pinimg.com/originals/50/45/1f/50451f86fad379407af5198cc730218e.gif" alt="Globe image with Africa centered. Africa has been highlighted green" class="indexImage border border-4 rounded-circle"></a>
        </div>
        <div class="col-lg-4 row d-flex justify-content-between mt-3">
            <h2>Beings</h2>
            <a href="/beings?region=<%= currentQuery.region%>&category=beings"><img src="https://64.media.tumblr.com/7c590bf10baa04c152298f028d219c8a/tumblr_nmqycetl9f1si2ypro1_400.gifv" alt="Globe image with Asia centered. Asia has been highlighted green" class="indexImage border border-4 rounded-circle"></a>
        </div>
        <div class="col-lg-4 row d-flex justify-content-between mt-3">
            <h2>Locations</h2>
            <a href="/locations?region=<%=currentQuery.region%>&category=locations"><img src="https://media.tenor.com/lhlKje8VXFQAAAAC/hogwarts-express.gif" alt="Hogwarts Great hall with ghosts moving about" class="indexImage border border-4 rounded-circle"></a>
        </div>
    </div>
</div>