<%- include("../partials/head.ejs")  %>

<div class="container text-center">
    <h1>Continent Selection</h1>
    <div class="row">
        <div class="col-lg-4 row d-flex justify-content-between mt-3">
            <h2>Creatures</h2>
            <a href="/locations?region=Africa"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/86/Africa_%28orthographic_projection%29.svg/640px-Africa_%28orthographic_projection%29.svg.png" alt="Globe image with Africa centered. Africa has been highlighted green" class="indexImage border border-4 rounded-circle"></a>
        </div>
        <div class="col-lg-4 row d-flex justify-content-between mt-3">
            <h2>Beings</h2>
            <a href="/locations?region=Asia"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/80/Asia_%28orthographic_projection%29.svg/1200px-Asia_%28orthographic_projection%29.svg.png" alt="Globe image with Asia centered. Asia has been highlighted green" class="indexImage border border-4 rounded-circle"></a>
        </div>
        <div class="col-lg-4 row d-flex justify-content-between mt-3">
            <h2>Locations</h2>
            <a href="/locations?region=Australia"><img src="https://static.wikia.nocookie.net/airaycu/images/a/a2/Location_-_Great_Hall.gif/revision/latest?cb=20210713025905" alt="Globe image with Australia centered. Australia has been highlighted green" class="indexImage border border-4 rounded-circle"></a>
        </div>
    </div>
</div>