 *{
    font-weight: bold;
}

body { 
  background: url(https://images.ctfassets.net/usf1vwtuqyxm/3QQaEkThAnIAiXveGhJYD9/f79a571dbe9fd456d65e783040601fdc/hogwarts-castle-.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;  
}

h1,h2,h3,h4,h5 {
  font-family: 'Henny Penny', cursive;
  color: white;
}

a, a:hover, a:focus, a:active {
  text-decoration: none;
  color: inherit;
}



p {
  color: white;
  font-size: 1.6rem;
}

input[type=checkbox] {
  width: 2rem;
  height: 2rem
}

.blackBackground {
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.8);
}

.gryffindor{
  background-color: #AE0001 !important;
  color: #D3A625 !important;
  font-family: 'Henny Penny', cursive !important;
  width: 100%;
}

.ravenclaw{
  background-color: #3651AD !important;
  color: #CD7F32  !important;
  font-family: 'Henny Penny', cursive !important;
  width: 100%;
}
.slytherin{
  background-color: #2A623D !important;
  color: #C0C0C0 !important;
  font-family: 'Henny Penny', cursive !important;
  width: 100%;

}

.hufflepuff{
  background-color: #ecb939 !important;
  color: #000000 !important;
  font-family: 'Henny Penny', cursive !important;
  width: 100%;
}

.largeImageDisplay {
    width: 50%;
}

.landingImage {
  width: 35%;
  box-shadow: inset 0 0 0 1000px rgba(255, 255, 255, 0.26);
}
.fullWidth {
    width: 100%;
}

/* ~~~~~~~~~~ START OF Form Page CSS ~~~~~~~~~~ */

.formHalfTextbox {
  width: 60%;
  font-size: 1.6rem
}
.formFullTextbox {
  width: 100%;
  font-size: 1.6rem
}
.formButton {
  width: 100%;
  font-size: 1.6rem
}

.formLabelText {
  color: white;
  font-size: 1.6rem
}

.formBlackBackdrop {
  background-color: #00000054;
  padding: 1%;
}

.formSpan {
  font-weight: lighter;
  font-style: italic;
  font-size: 1.2rem;
}


/* ~~~~~~~~~~ END OF Form Page CSS ~~~~~~~~~~ */


.centerImage {
    display: flex;
    align-items: center;
    justify-content: center;
}
.creatureEdit {
    width: 30%;
    height: 125%;
}

.indexImage {
  width: 20rem; 
  height: 20rem;
  object-fit: cover;
}

.errorDiv {
  margin-top: 20%;
}

[type=submit] {
  border: none;
}
.modalViewer {
	position: absolute; 
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.808);
  height: 100vw;
  display: none;
}

.message {
  position: fixed;
  top: 40vh;
  left: 30vw;
}

/* ~~~~~~~~~~ Media Queries for Mobile ~~~~~~~~~~ */

@media only screen and (max-width: 600px){

/* ~~~~~~~~~~ START OF Form Page CSS ~~~~~~~~~~ */

.formHalfTextbox {
  font-size: 1rem
}
.formFullTextbox {
  font-size: 1rem
}
.formButton {
  font-size: 1rem
}
.formLabelText {
  font-size: 1rem
}
.formSpan {
  font-size: .8rem;
}

/* ~~~~~~~~~~ END OF Form Page CSS ~~~~~~~~~~ */
  p {
    font-size: 1rem;    
  }


  .fullWidth{
    width: 100%;
  }
  .message {
    position: fixed;
    top: 30vh;
    left: 0;
  }
	
  .landingTitle {
    font-size: 3rem;
    margin-top: 20%;
  }
  .largeImageDisplay {
    width: 100%;
  }

  .landingImage {
      width: 100%;
  }

  .indexImage {
    width: 15rem; 
    height: 15rem;
    object-fit: cover;
  }

  .modalViewer {
    height: 300vw;
  }

  .verticallyAlign {
    margin-top: 20%;
  }

}